/* HEADER */
.main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-header .logo {
    width: 300px;
    cursor: pointer;
    margin: -50px;
}

.main-header a {
    display: inline-block;
}