* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    background: #e0f7fa;
    background-image: url("../img/Logo_translucido_2.png");
    background-repeat: repeat;
    background-size: 500px 500px;
    /* Tamaño que tú quieras */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #333;
}

/* CONTENEDOR */
.container {
    width: 100%;
    max-width: 400px;
    padding: 40px 30px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* ENCABEZADO */
header h1,
header h2 {
    font-size: 2rem;
    color: #0077b6;
    margin-bottom: 10px;
}

header p {
    color: #023e8a;
    margin-bottom: 25px;
}

/* FORMULARIO */
.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    text-align: left;
}

.form-group label {
    font-weight: 600;
    color: #0077b6;
}

.form-group input {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border-radius: 10px;
    border: 2px solid #90e0ef;
    outline: none;
    font-size: 1rem;
    transition: 0.3s ease;
}

.form-group input:focus {
    border-color: #0077b6;
    box-shadow: 0 0 10px rgba(0, 119, 182, 0.2);
}

/* BOTÓN */
.btn-submit {
    width: 100%;
    padding: 14px;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    background: #0077b6;
    color: #fff;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 8px 20px rgba(0, 119, 182, 0.3);
    transition: 0.3s ease;
}

.btn-submit:hover {
    background: #005f87;
    transform: translateY(-2px);
}

/* ENLACE EXTRA */
.extra-links {
    margin-top: 20px;
}

.extra-links a {
    text-decoration: none;
    color: #0077b6;
    font-weight: 600;
    transition: 0.3s ease;
}

.extra-links a:hover {
    color: #005f87;
}