* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
    height: 100%;
    background-color: #f4f8fb;
}

h1{
    text-align: center;
    margin: 20px 0;
    color: #333333;
}

/* Layout principal */
.layout {
    display: flex;
    height: 100vh;
    width: 100%;
}

.layout_header {
    filter: drop-shadow(0px 8px 15px rgb(255, 255, 255));
    display: flex;
    justify-content: center;
}

/* Sidebar izquierda */
.sidebar {
    display: flex;
    flex-direction: column;
    width: 20%; /* 1/5 del ancho */
    background: linear-gradient(180deg, #0d6efd, #0bbcd6);
    color: white;
    padding: 25px 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Título */
.sidebar h2 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 600;
    letter-spacing: 1px;
}

/* Imagen */
.logo_clinica {
    display: block;
    margin: 0 auto;
}

/* Botones del menú */
.menu-btn {
    display: flex;
    align-items: center;
    width: 90%;
    height: 100px;
    margin: 5px;
    padding: 14px 16px;
    background-color: rgba(19, 163, 224, 0.15);
    border: 3px solid white;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.menu-btn i {
    font-size: 30px;
    padding-right: 20px;
}

.menu-btn a {
    text-decoration: none;
}


.menu-btn:hover,  .menu-btn a:hover {
    background-color: white;
    color: #0d6efd;
    transform: translateX(5px);
}

.logout-btn{
    text-decoration: none;
}

/* Contenido derecho */
.contenido {
    width: 80%; /* 4/5 del ancho */
    height: 100%;
    background-color: #ffffff;
    padding: 10px;
}

/* Iframe */
#visor {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    border: none;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}